# Python cache / build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment & secrets
.env
*.env

# IDE / editor configs
.vscode/
.idea/
*.swp

# Data and Saved Models
**/data/
**/models/
**/imgs/*
**/db/
!imgs/sh-lujiazui-1997.jpg

# WIP documents
*/wip_*

# Specifics
01_dl/imgs/ft-fp.jpg
01_dl/imgs/uAI-team.jpg